@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #f7f8fd;
  display: flex;
}

.jost-font {
  font-family: "Jost", sans-serif;
}

@layer utilities {
  .section {
    @apply w-full md:py-20 py-10 md:px-8 px-4;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between flex-row;
  }
}
