@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f8fd;
  display: flex;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.jost-font {
  font-family: "Jost", sans-serif;
}

@layer utilities {
  .section {
    @apply w-full h-[100svh];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between flex-row;
  }
}
